#cont{
    font-weight:600;
}
.col-4{
    margin-left: 50px;
    color:black; font-size: 16px;
}
#t1{
    color:black; font-size: 16px;
}
#t2{
    font-size: 12px;
}
#t3{
    font-size: 13px;
}
#p1{
    font-size: 12px;
}
#border{
    border-style: dotted; border-radius: rounded; font-size: 13px;
}
#p2{
    font-size: 14px;
}
#p3{
    text-align:center; font-size: 13px;
}
#footer{
    background-color: azure;
}
#img{
    width: 250px;
    height: 200px;
    object-fit: cover;
}
#p1{
    font-size: smaller;
}
#t1{
    font-size: smaller;
}
#t2{
    font-size: smaller;
} 

#p2{
    margin-top: 0;
    margin-bottom: 1px;
}
#p3{
    text-align: START;
    font-size: 13px;

}
#INR{
    font-size: 16px;
    color: black;
    text-align: START;
}